/* Page styles */

html {
  font-size: 16px;
}

/* Generic elements styles */



/* Header Section */

header {
  width: 100%;
  position: fixed;
  height: 5rem;
}

.header-content {
  box-sizing: border-box;
  background-color: hsl(0, 0%, 100%);
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
}

#header-title {
  position: absolute;
  font-size: 2.8rem;
  font-family: 'Racing Sans One', cursive;
  left: 1.5rem;
  display: flex;
}

#header-title-left {
  color:hsl(238, 100%, 70%)
}

#header-title-right {
  /*coolor:hsl(30, 100%, 50%);*/
  color:red;
}

#search-container {
  box-sizing: border-box;
  width: 23rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

#search {
  background-color: hsl(0, 0%, 85%);
  border: 1px hsl(0, 0%, 70%) solid;
  width: 20rem;
  height: 2.5rem;
  border-radius: 0.4rem;
}

#search:hover {
  border: 1px hsl(0, 0%, 60%) solid;
}

#search:focus {
  
}

#search-container img {
  box-sizing: border-box;
  width: auto;
  height: 2rem;
}

#search-clear {
  visibility: visible;
  position: relative;
  left: -2.4rem;
  border-radius: 5px;
  padding: 5px;
  background-color: hsl(0, 0%, 75%);
}

#search-icon {
  position: relative;
  left: -1.8rem;
}

#mode-switch {
  background-color: hsl(0, 0%, 30%);
  border: 2px solid hsl(0, 0%, 70%);;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.header-shadow {
  background: linear-gradient(hsla(0, 5%, 40%, 0.5), hsla(0, 0%, 100%, 0.5));
  height: 1rem;
}

