/* Page styles */
/* Present in index.css */

/***********************/
/* Element specific styles */
button {
  background-color: inherit;
}

.dark a:visited {
  color: hsl(240, 100%, 80%);
}

/***********************/
/* Filter classes */
.hidden {
  visibility: hidden;
}

/***********************/
/* Header Section */
header {
  font-size: 1rem;
}

@media only screen and (max-width: 1280px) {
  header {
    font-size: 0.8rem;
  }
}

.header-container {
  width: 100%;
  position: fixed;
  height: 5em;
  z-index: 5;
}

.header-content {
  box-sizing: border-box;
  background-color: hsl(0, 0%, 100%);
  height: 4em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dark .header-content {
  background-color: hsl(0, 0%, 0%);
}

/* Header: Left buttons menu */
#left-buttons-container {
  display: none;
  align-items: center;
  width: 20%;
  padding-left: 1em;  
}

.search-button,
.subreddits-button {
  width: auto;
  height: 2em;
  margin-right: 1em;
  cursor: pointer;
}

@media only screen and (max-width: 768px), (orientation: portrait) {
  #left-buttons-container {
    display: flex;
  }
}

/* Header: Title */
#header-title-container {
  width: 30%;
  font-size: 2.8em;
  font-family: 'Racing Sans One', cursive;
  padding-left: 1.5rem;
  text-align: left;
}

@media only screen and (max-width: 768px), (orientation: portrait) {
  #header-title-container {
    padding-left: 0;
    text-align: center;
    width: auto;
  }
}

#header-title-container span {
  cursor: pointer;
}

#header-title-left {
  color:hsl(240, 100%, 70%);
}

#header-title-right {
  color:hsl(0, 100%, 50%);
}

/*Search component styling*/
.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-icon {
  position: relative;
  height: 1.6em;
  left: 1.8em;
}

.search {
  box-sizing: border-box;
  background-color: hsl(0, 0%, 85%);
  border: 1px hsl(0, 0%, 85%) solid;
  width: 16em;
  height: 2.2em;
  border-radius: 0.4em;
  font-size: 1.2em;
  outline: none;
  padding: 5px 2em 5px 1.8em;
}

@media only screen and (max-width: 1280px) {
  .search {
    padding-right: 2.1em;
  }
}

.search:hover,
.search:focus {
  border: 1px hsl(0, 0%, 50%) solid;
  background-color: hsl(120, 73%, 80%);
}

.dark .search {
  background-color: hsl(0, 0%, 45%);
  border: 1px hsl(0, 0%, 35%) solid;
  color: hsl(0, 0%, 85%);
}

.dark .search:hover,
.dark .search:focus {
  background-color: hsl(120, 66%, 35%);
}

.search-clear {
  height: 2em;
  width: 2em;
  border: 0px;
  position: relative;
  left: -2.9em;
  margin: 5px;
  border-radius: 5px;
  background-color: hsl(0, 0%, 75%);
  padding: 0.5em;
}

@media only screen and (max-width: 1280px) {
  .search-clear {
    width: 1.8em;
    height: 1.8em;
    padding-left: 0.4em;
    padding-top: 0.4em;
    left: -2.6em;
  }
}

.dark .search-clear {
  background-color: hsl(0, 0%, 60%);
}

.search-clear:hover {
  background-color: hsl(0, 100%, 70%)
}

.search-clear:focus {
  background-color: hsl(0, 100%, 50%)
}

.search-clear img {
  height: 1em;
}

/*Search notch styling*/
#search-notch {
  display: none;
  box-sizing: border-box;
  padding: 0.6em 0 0 1.3em;
  align-items: center;
  justify-content: center;
  height: 4em;
  width: 20.8em;  
  background-color: hsl(0, 0%, 95%);
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 0.4em;
  margin-left: 4em;
  box-shadow: 1px 2px hsl(0, 0%, 60%);  
}

.dark #search-notch {
  background-color: hsl(0, 0%, 20%);
  border: 1px solid hsl(0, 0%, 30%);
  box-shadow: 1px 2px hsl(0, 0%, 20%);  
}

@media only screen and (max-width: 768px), (orientation: portrait) {
  /*The central search is hidden and the search-notch is activated (displayed when called) */
  #search-notch {
    display: block;
  }

  #search-center {
    display: none;
  }
}

/*Dark/Light Mode switch styling*/
#mode-switch-container {
  display: flex;
  justify-content: right;
  width: 30%;
  margin-right: 1rem;
}

#mode-switch {
  background-color: hsl(0, 0%, 30%);
  border: 2px solid hsl(0, 0%, 70%);
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  cursor: pointer;
}

.dark #mode-switch {
  background-color: hsl(0, 0%, 90%);
}

@media only screen and (max-width: 768px), (orientation: portrait) {
  #mode-switch-container {
    width: 20%;
  }
}


/*The header shadow styling*/
.header-shadow {
  background: linear-gradient(hsla(0, 5%, 40%, 1), hsla(0, 0%, 100%, 0));
  height: 1em;
}

.dark .header-shadow {
  background: linear-gradient(hsla(0, 0%, 0%, 1), hsla(0, 0%, 20%, 0));
}

/***********************/
/* Main Section Styling*/
.main-container {
  position: relative;
  background-color: hsl(0, 0%, 100%);
  font-size: 1rem;
  padding-top: 4rem;
  display: flex;
  overflow-x: visible;
}

.dark .main-container {
  background-color: hsl(0, 0%, 20%);
}

/* Main: Feed Section */
.main-feed {
  display: inline-block;
  box-sizing: border-box;
  width: 75%;
  padding: 0 2% 0 10%;
  background-color: inherit;
}

@media only screen and (max-width: 1280px) {
  .main-feed {
    padding: 0 1% 0 5%;
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 768px),(orientation: portrait) {
  .main-feed {
    width: 100%;
    padding: 0 5%;
  }

  .main-feed.no-scroll {
    position: fixed;
  }
}

/*No posts message*/
#no-content {
  font-size: 2em;
  margin-top: 1em;
}

@media only screen and (max-width: 768px),(orientation: portrait) {
  #no-content {
    font-size: 1.5em;
  }
}

/*Main: Feed: Post styling*/
.post {
  margin: 2em 0;
  background-color: hsl(0, 0%, 95%);
  border-radius: 10px;
  padding: 0 0.7em;
  border: 1px solid hsl(0, 0%, 90%);
}

.dark .post {
  background-color: hsl(0, 0%, 5%);
  border: 1px solid hsl(0, 0%, 10%);
}

/*Main: Feed: Post: Title styling*/
.post-title {
  font-size: 2em;
  font-weight: 900;
  padding: 0.2em;
  word-wrap: break-word;
}

.post-title a {
  color: hsl(0, 0%, 0%);
  text-decoration: none;
}

.dark .post-title a {
  color:hsl(0, 0%, 80%);
}

/*Main: Feed: Post: Content styling*/
.post-content {
  background-color: hsl(0, 0%, 90%);
  color: hsl(0, 0%, 10%);
  border-radius: 8px;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
  position: relative;
  z-index: 0;
  box-sizing: border-box;
  width: 100%;
  word-wrap: break-word;
}

.dark .post-content {
  background-color: hsl(0, 0%, 15%);
  color: hsl(0, 0%, 95%);
}

.post-content.left {
  /*Aligns content to the left*/
  justify-content: flex-start;
}

.post-content.text {
  display: inline-block;
}

.post-content.text img,
.post-content.link.left a img {
  height: 1em;
}

.post-content img {
  max-height: 80vh;
  max-width: 50vw;
  border-radius: 5px;
}

.post-content video {
  max-height: 80vh;
  max-width: 50vw;
  border-radius: 5px;
}

.gallery-buttons {
  box-sizing: border-box;
  position: absolute;
  display: flex;
  width: 100%;
  height: 5em;
  padding: 1em;
  justify-content: space-between;
}

.gallery-buttons img {
  cursor: pointer;
}

.gallery-info-wrap {
  position: absolute;
  height: 90%;
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.gallery-info {
  background: hsl(0, 0%, 90%);
  position: absolute;
  padding: 0 0.5em;
  border-radius: 1em;
  text-align: center;
  font-size: 1.2em;
  line-height: 1.5em;
}

.dark .gallery-info {
  background: hsl(0, 0%, 60%);
}

@media only screen and (max-width: 768px),(orientation: portrait) {
  .post-content img {
    max-height: 80vh;
    max-width: 70vw;
    border-radius: 5px;
  }
}

/*Main: Feed: Post: Info (subreddit, author and age) styling*/
.post-info {
  display: flex;
  justify-content: space-between;
  font-size: 1.2em;
  color: hsl(0, 0%, 0%);
}

.dark .post-info {
  color:hsl(0, 0%, 70%)
}

.post-subreddit {
  cursor: pointer;
}

/*Main: Feed: Post: Footer styling*/
.post-footer {
  color:hsl(0, 0%, 0%);
  padding: 1em 0;
  display: flex;
}

.dark .post-footer {
  color:hsl(0, 0%, 70%)
}

.post-footer img {
  height: 2.5em;
}

.post-footer-left {
  width: 50%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.post-votes-container,
.post-comments-container {
  display: flex;
  align-items: center;
  margin: 0 3em 0 0.5em;
}

.post-comments-container {
  padding: 0.4em;
  border-radius: .3em;
  cursor: pointer;
}

.post-comments-container:hover {
  background-color: hsl(0, 0%, 90%);
}

.dark .post-comments-container:hover {
  background-color: hsl(0, 0%, 25%);
}

.post-footer-right {
  width: 50%;
  display: flex;
  justify-content: right;
  align-items: center;
}

.post-share-button {
  position: relative;
  padding: 0.4em;
  border-radius: .3em;
  cursor: pointer;
  display: flex;
}

.post-share-button:hover {
  background-color: hsl(0, 0%, 90%);
}

.dark .post-share-button:hover {
  background-color: hsl(0, 0%, 25%);
}

.post-footer-right img {
  margin: 0 0.5em;
}

/*Main: Feed: Post: Comments styling*/
.comments {
  padding-bottom: 1em;
}

.dark .comments {
  color: hsl(0, 0%, 80%)
}

.comment,
.reply {
  padding: 0.5em 0;
}

.reply {
  margin-left: 0.6em;
  border-left: 3px solid hsl(0, 0%, 80%);
  padding-left: .5em;
}

.dark .reply {
  border-left: 3px solid hsl(0, 0%, 30%);
}

.comment-header {
  display: flex;
  width: 90%;
}

.comment-author {
  font-weight: 900;
  margin-right: 1em;
}

.comment-body {
  background-color: hsl(0, 0%, 90%);
  width: 90%;
  border-radius: 10px;
  margin: 0.3em 0 0.3em 0.5em;
  padding: 0.3em;
  word-wrap: break-word;
}

.dark .comment-body {
  background-color: hsl(0, 0%, 25%);
}

.reply .comment-body {
  width: 95%;
}

.comment-footer {
  display: flex;
  margin-left: 0.5em;
}

.comment-votes img {
  margin: 0 0.2em;
}

.comment-replies,
.reply-link,
.reply-more {
  margin-left: 1em;
  color: hsl(240, 100%, 50%);
  cursor: pointer;
  font-weight: 900;
}

.reply-link a,
.reply-more a,
.comments-more a {
  text-decoration: none;
}

.reply-link a:hover,
.reply-more a:hover {
  text-decoration: underline;
}

.reply-link img,
.reply-more img,
.comments-more img {
  height: 1em;
  margin-left: 3px;
}

.comment-replies:hover {
  text-decoration: underline;
}

.comments-more,
.replies-more {
  margin-top: .5em;
  color: hsl(240, 100%, 50%);
  font-weight: 900;
  cursor: pointer;
}

.comments-more:hover,
.replies-more:hover {
  text-decoration: underline;
}

.comments-close-container {
  display: flex;
  justify-content: flex-end;
  position: sticky;
  top: 5rem;
}

.comments-close {
  background-color: hsl(240, 100%, 70%);
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  text-align: right;
  padding: .2em .6em;
  border-radius: 0.5em;
}

.votes-count,
.comments-count {
  font-size: 1.4em;
  margin: 0 0.3em 0.3em;
}

/*Main: Feed: Post: Share menu styling*/
.post-share-menu {
  position: absolute;
  font-size: 1.4em;
  background-color: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 0%, 90%);
  border-radius: .3em;
  width: 10em;
  right: 0;
  top: 2.5em;
  z-index: 1;
}

.dark .post-share-menu {
  background-color: hsl(0, 0%, 25%);
  border: 1px solid hsl(0, 0%, 10%);
}

.post-share-menu div,
.post-share-menu a {
  padding: 0;
  display: flex;
  height: 2em;
  align-items: center;
  text-decoration: none;
  color:hsl(0, 0%, 0%);
}

.dark .post-share-menu div,
.dark .post-share-menu a {
  color: hsl(0, 0%, 90%);
}

.post-share-menu div:hover {
  background-color: hsl(0, 0%, 80%);
}

.dark .post-share-menu div:hover {
  background-color: hsl(0, 0%, 35%);
}

.post-share-menu img {
  width: 1em;
  height: auto;
  margin: 0.5em;
}

/***************************/
/*"Loading" curtain styling*/
#loading-curtain {
  position: fixed;
  top: -4rem;
  width: 100%;
  height: 100%;
  background-color: hsl(0, 0%, 90%);
  opacity: 0.9;
  display: flex;
  justify-content: center;
  padding-bottom: 10rem;
  z-index: 3;
}

.dark #loading-curtain {
  background-color: hsl(0, 0%, 20%);
}

#loading-curtain img {
  width: 5rem;
  height: auto;
  animation: pleaseWait 3s infinite linear;
}

@keyframes pleaseWait {
  100% {
    transform: rotate(1turn);
  }
}

/* Main: Subredits Section */
.main-subreddits {
  box-sizing: border-box;
  display: inline-block;
  position: static;
  box-sizing: border-box;
  width: 25%;
  min-width: 18em;
  top: 5em;
  padding: 1%;
  font-size: 1em;
}

.dark .main-subreddits {
  color:hsl(0, 0%, 90%)
}

#subreddits-title {
  font-size: 2em;
  font-weight: 900;
}

.subreddit {
  border: 1px solid hsl(0, 0%, 40%);
  border-radius: 1.5em;
  margin: 1em 0;
  width: 100%;
  height: 3em;
  display: flex;
  align-items: center;
  background-color: hsl(0, 0%, 90%);
  cursor: pointer;
}

.dark .subreddit {
  background-color: hsl(0, 0%, 30%);
  border: 1px solid hsl(0, 0%, 40%);
}

.subreddit:hover {
  background-color: hsl(0, 0%, 85%);
}

.dark .subreddit:hover {
  background-color: hsl(0, 0%, 50%);
}

.subreddit-name {
  display: flex;
  font-size: 1.6em;
  font-weight: 900;
  width: 90%;
}

.subreddit img {
  border-radius: 50%;
  height: 2.4em;
  width: 2.4em;
  margin: 0 0.5em;
}

.subreddit.selected {
  background-color: hsl(0, 0%, 75%);
}

.dark .subreddit.selected {
  background-color: hsl(0, 0%, 40%);
}

@media only screen and (max-width: 1280px) {
  .main-subreddits {
    font-size: 0.8rem;
  }

}

@media only screen and (max-width: 1024px) {
  .main-subreddits {
    font-size: 0.6rem;
  }

  #subreddits-title {
    font-size: 1.8em;
  }

  .subreddit {
    height: 3em;
    margin: 0.6em 0;
  }
}

@media only screen and (max-width: 768px),(orientation: portrait) {
  .main-subreddits {
    top: -180em;
    position: absolute;
    width: 100%;
    background-color: hsl(0, 0%, 100%);
    padding-bottom: 5em;
    transition: top 0.5s ease;
    z-index: 4;
  }
  .main-subreddits.show{
    top: 7em;
    transition: top 1s ease;
  }

  .dark .main-subreddits {
    background-color: hsl(0, 0%, 20%);
  }

  #subreddits-title {
    font-size: 4em;
    text-align: center;
    margin: 0.5em 0 0.5em;
  }

  .subreddit {
    height: 3rem;
    width: 45em;
    border-radius: 2rem;
    margin: 0 auto;
    margin-bottom: 1em;
    
  }

  .subreddit img {
    height: 4em;
    width: 4em;
    margin: 0 0.5rem;
  }

  .subreddit-name {
    font-size: 3.5em;
  }
}

/**********************************/
/*Floating "Refresh" button syling*/
#refresh-button {
  position: fixed;
  bottom: 3rem;
  left: 3rem;
  cursor: pointer;
  z-index: 5;
}

#refresh-button img {
  height: 8rem;
  width: auto;
}

@media only screen and (max-width: 1280px) {
  #refresh-button img {
    height: 6rem;
  }
}
@media only screen and (max-width: 768px),(orientation: portrait) {
  #refresh-button {
    left: 2rem;
    bottom: 2rem;
  }
  #refresh-button img {
    height: 4rem;
  }
}

/****************************/
/*Notification pop-up syling*/

#app-notification {
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 5%;
  width: 100%;
}

#app-notification div {
  display: inline-block;
  background-color: hsl(0, 0%, 80%);
  border: hsl(0, 0%, 90%) 1px solid;
  border-radius: 1em;
  box-sizing: border-box;
  width: auto;
  height: 2em;
  font-size: 1.8em;
  line-height: 1.8em;
  padding: 0 1em;
}

.dark #app-notification div {
  background-color: hsl(0, 0%, 40%);
  color: hsl(0, 0%, 70%);
  border: hsl(0, 0%, 30%) 1px solid;
}

@media only screen and (max-width: 1280px) {
  #app-notification div {
    font-size: 1.6em;
  }
}

@media only screen and (max-width: 768px),(orientation: portrait) {
  #app-notification div {
    font-size: 1.2em;
  }
}

#app-notification.fade-in {
  animation: fadeIn 0.5s ease;
  opacity: 0.8;
}

#app-notification.fade-out {
  animation: fadeOut 0.5s ease;
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

/*******************************/
/*Cancel search floater styling*/

#cancel-search {
  position: fixed;
  bottom: 4em;
  width: 100%;
  display: none;
}

#cancel-search-container {
  display: flex;
  width: 17em;
  height: 2em;
  margin: 0 auto;
}

#cancel-search-button {
  box-sizing: border-box;
  border-radius: 1.5em 0 0 1.5em;
  width: 15%;
  background-color: hsl(0, 0%, 80%);
  
  font-size: 1.7em;
  line-height: 0.95em;
  text-align: center;
  padding-left: 0.2em;
  cursor: pointer;
  opacity: 0.8;
}

#cancel-search-button:hover {
  color: hsl(0, 100%, 50%);
}

#cancel-search-text {
  box-sizing: border-box;
  text-align: left;
  border-radius: 0 1.5em 1.5em 0;
  width: 85%;
  background-color: hsl(0, 0%, 80%);
  color: hsl(0, 0%, 20%);
  font-size: 1.6em;
  line-height: 1.2em;
  padding-left: 0.2em;
  opacity: 0.8;
}

@media only screen and (max-width: 768px),(orientation: portrait) {
  #cancel-search {
    display: block;
  }
}

/***************/
/*Footer styling*/
footer {
  background-color: hsl(0, 0%, 100%);
  height: 6em;
}

.dark footer {
  background-color: hsl(0, 0%, 20%);
}